/* TimeEditor.css */
.time-editor {
    display: flex;
    align-items: left;
    justify-content: space-between;
    max-width: 5px;
    margin: 5px;
  }
  
  .time-editor label {
    flex: 1;
    margin-right: 5px;
    margin-left: 5px;
  }
  
  .time-editor input {
    flex: 1;
    max-width: 50px;
  }
  